{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>게시판</h2>
게시물수 : {{ boardCount }}<br>
	<a href="write">글쓰기</a>
	<table border="1">
		<tr>
			<th>번호</th>
			<th>이름</th>
			<th>제목</th>
			<th>날짜</th>
			<th>조회수</th>
			<th>첨부파일</th>
			<th>다운로드</th>
		</tr>
		{% for row in boardList %}
		<tr align="center">
			<td>{{row.idx}}</td>
			<td>{{row.writer}}</td>
			<td><a href="detail?idx={{row.idx}}">{{row.title}}</a></td>
			<td>{{row.post_date|date:"Y-m-d"}}</td>
			<td>{{row.hit}}</td>
			<td>
				{% if row.filesize > 0 %}<a href="download?idx={{row.idx}}">
				<image src="{% static "images/file.png" %}"></a>
				{% endif %}
			</td>
			<td>{{row.down}}</td>
		</tr>
		{% endfor %}
		<tr>
	</table>
</body>
</html>